* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.homeDiv {
    height: 100vh;
    margin: auto;
    background:  hsl(130, 90%, 75%) url('./img/food-background.png');
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
}

.homeDiv img {
    display: none;
}

#welcome {
    background:  hsl(0, 0%, 60%) url('./img/heather-food.jpg');
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgGoogle{
    width: 5px;
}

.buttonDiv {
    margin-top: 5rem;
    padding: 3.5rem;
}

.titleLogo {
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    color: #14A508;
    padding: 100px 50px;
}

.formLogin {
    display: flex;
    flex-direction: column;
}

form input, button {
    width: 260px;
    height: 40px;
    margin: 0.5rem auto;
    padding-left: 2rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(125, 118, 118);
    border-radius: 10px;
}

#buttonLogin, #buttonRegister {
    margin-top: 2rem;
    padding-left: 0;
    background-color: #14A508;
    border-color: #14A508;
    color: rgb(255, 255, 255);
}

.textRegister, .textLogin{
    margin-top: 3rem;
    text-align: center;
    font-size: 0.9rem;
}

.textRegister a, .textLogin a {
    font-size: 0.9rem;
    margin-left: 0.4rem;
    color: rgb(15, 58, 169);
}
.divContainer{
    border-color: rgb(104, 101, 101);
}
.headerTitle{
    background: #14A508;
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*text-align: center;*/
    /*padding: 40px 20px;*/
}

.titleLogoHome{
    font-weight: bold;
    color: #ffff;
    font-size: 0.9rem;
    
}
.logo img{
    width:45px;
    /*margin-right: 10px;*/
    
}
.logoLogout img{
    width:30px;
    /*margin-left: 250px;*/
    
}
/*.logout{
    margin-left: 1rem;
    color: rgb(26, 25, 25);
    font-weight: bold;
    padding: 40px;
}*/

.divPublication{
    background-color: rgb(171, 238, 169);
    width: 250px;
    height: 15vh;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: 40px;
}
.inputPublication{
    width: 220px;
    height: 7vh;
    margin-left: 2.5vh;
    margin-top: 2vh;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.buttonPublication{
    width: 85px;
    height: 4vh;
    margin-left: 150px;
    background-color: #14A508;
    color: #ffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 8px;
}

.footer{
    background-color: #14A508;
    margin-top: 41.5vh;
    height: 3.5rem;
    
}

.showPublication{
    background-color: rgb(171, 238, 169);
    width: 250px;
    height: 15vh;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 40px;
}

@media only screen and (min-width: 768px) {
    .homeDiv {
        background: hsl(130, 90%, 75%) url('./img/food-backgroundDesktop.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homeDiv img {
        display: block;
        height: 100vh;
        margin-right: 10rem;
    }

    #welcome {
        background: none;
        display: flex;
        flex-direction: row;
    }
    
    .buttonDiv {
        margin: 3rem;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .buttonDiv button {
        margin: 10px;
    }
}